{% extends 'base.html.twig' %}

{% block title %}Poster une annonce{% endblock %}

{% block body %}
    <h1>Poster une annonce</h1>

    {# {{ form_start(annonceForm) }} #}

        <button type="submit" class="btn">Poster</button>
    {# {{ form_end(annonceForm) }} #}
{% endblock %}
