*{margin: 0;
padding: 0;}

footer{
    background-color: black; 
    color: white; 
    height: 500px; 
    padding: 0% 3%;
    /* border: hotpink solid 1px; */
}

footer a{
    text-decoration: none;
    color: white;
    /* border: hotpink solid 1px; */
    width: 150px;;
    height: 40px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
}

img{
    width: 44px;
    height: 44px;
}

.ftr a:hover {
    background-color: white;
    color: black;
    /* border: solid hotpink 1px; */
  }

.bottom{
    display: flex;

}

.ftr{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 118px;
    margin-left: 7%;
}

hr{
    color: white;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 768px) {
    footer {
      height: auto;
    }
    
    .ftr {
      flex-direction: column;
      margin-top: 50px;
    }
    
    footer a {
      margin-bottom: 10px;
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    footer a {
      font-size: 12px;
    }
  }