*{
    margin: 0;
    padding: 0;
}

#form{
    border: solid grey 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 439px;
    width: 622px;
    margin: 10%;
    padding: 65px;
}

input{
    height: 20px;
    display: flex;
    padding: 14px;
    font-size: 15px;
    color: black;
}

.btn-primary{
    align-items: center;
    padding: 14px;
    width: 130px;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-weight:500;   
}

.btn-primary:hover{
    background-color: white;
    border: solid 1px black;
    color: black;
    font-weight: 500;
}