*{margin: 0;
padding: 0;}

.bckgrnd{
    background: no-repeat center/101% url(/Images/pexels-alina-vilchenko-1173651.jpg);
    height: 100vh;
}



#title{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;    
}

h1{
    margin-top: 15%;
}

#btn_title{
display: flex;
align-items: center;
justify-content: space-between;
border: solid hotpink 1px;
width: 450px;
/* margin-left: 36%; */
}

#btn_title_blanc{
    background-color: white;
    border: solid 1px black;
    color: black;
    width: 192px;
    height: 52px;
    border-radius: 6px;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

#btn_title_blanc:hover{
    background-color: black;
    border: none;
    color: white;
}

#btn_title_noir{
    background-color: black;
    color: white;
    width: 192px;
    height: 52px;
    font-size: 17px;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

#btn_title_noir:hover{
    background-color: white;
    color: black;
    border: solid black 1px;
}

@media screen and (max-width: 768px) {

    .bckgrnd {
        background-size: cover;
        background-position: center;
      }

    h1{
        /* border: solid hotpink 1px; */
        width: 130px;
        height: 40px;
        display: flex;
        justify-content: center;
        padding-top: 30vh;
    }
    
    #btn_title {
      width: 60%;
      margin-left: 20%;
      /* justify-content: center; */
      /* margin-top: 50%; */
      /* border: solid hotpink 1px; */
    }
  
    #btn_title_blanc,
    #btn_title_noir {
      width: 100%;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  
    h1 {
      margin-top: 10%;
      font-size: 24px;
    }
  }
 