*{margin: 0;
    padding: 0;}
    
    /* formulaire d'inscription */
    
    .info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 96%;
        /* height: 800px;    */
    }

    #top{
        display: flex;
        align-items: center;
        flex-direction: column;
        /* justify-content: center; */
        margin-top: 7%;}
    
    h1{
        font-size: 48px;
    }
    
    #p{
        display: flex;
        text-align: center;
        font-size: 36px;
        /* border: solid hotpink 1px; */
        height: 15vh;
        width: 80vw;
        padding: 0 67px;
    }
    
    #form2{
        border: solid grey 1px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        height: 865px;
        width: 46%;
        margin: 100px 23vw;
        padding: 65px;
        box-shadow:0 12px 6px rgb(0 0 0 / 30%) ;
    
    }
    
    
    .input2, .input3{
        height: 20px;
        width: 18vw;
        display: flex;
        padding: 14px;
        font-size: 15px;
        color: black;
        margin: 25px 0px;
    }

    .input3{
        height: 50px;
        width: 20vw;
    }


    /* .input2:last-child{margin-right: 9;} */
    
    .btn-primary{
        align-items: center;
        padding: 14px;
        width: 130px;
        background-color: black;
        color: white;
        border-radius: 6px;
        font-weight:500;
        cursor: pointer;   
    
    }
    
    .btn-primary:hover{
        background-color: white;
        border: solid 1px black;
        color: black;
        font-weight: 500;
        cursor: pointer;   
    
    }

    @media (max-width: 768px) {
        /* Adjust styles for smaller screens */
        .info {
            flex-direction: column;
        }
        
        #top {
            margin-top: 10%;
        }
        
        #form2 {
            width: 63%;
            margin: 50px 5%;
            height: 180vh;
        }
        
        .input2, .input3 {
            width: 80%;
        }
        
        .input3 {
            width: 85%;
        }
        
        .btn-primary {
            width: 100%;
        }
        
        #p {
            width: 90%;
            font-size: 190%;
            padding: 0 20px;
        }

        h1{
            font-size: 260%;
        }
    }