{% extends 'base.html.twig' %}
{% block title %}Messagerie{% endblock %}
{% block body %}
    {% if app.user %}
        <h1>Messagerie</h1>
        <h2>{{message.title}}</h2>
        <p>Message de {{message.sender.username}}
        <p>Le {{message.createdAt|date}}</p>
        <div>{{message.message}}</div>
    {% endif %}
{% endblock %}