<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Projet Annonces{% endblock %}</title>

{% block stylesheets %}
    <link rel="stylesheet" href="/Asset/CSS/stylet.css" />
    {% endblock %}

    {% block javascripts %}
    <script src="/Asset/JS/header.js"></script>
{% endblock %}
</head>

<body>

<header>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
            <li><a href=''>Home</a></li>
            <li><a class='dropdown-arrow' href='#'>Vêtements</a>
                <ul class='sub-menus'>
                    <li><a href='#'>Femmes</a></li>
                    <li><a href='#'>Hommes</a></li>
                </ul>
            </li>
            <li><a class='dropdown-arrow' href='http://'>Accessoires</a>
                <ul class='sub-menus'>
                    <li><a href='#'>Chaussures</a></li>
                    <li><a href='#'>Accessoires</a></li>
                </ul>
            </li>

            {% if app.user %}
            <li><a href='http://'>Messagerie</a></li>
            {% endif %}
        </ul>

        <ul>
         {% if app.user != true %}
                    <li>
                        <a href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                    <li>
                        <a href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                    {% endif %}

    {% if app.user %}
        <li>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
    {% endif %}
        </ul>
    </nav>
</header>

{% block body %}{% endblock %}


</body>
</html>
